.main-container {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%
}

.tdHeader h2 {
  text-align: center;
}
form {
  width: 100%;
  clear: both;
  display: table;
}
input#tdInput {
    height:1.5em;
    width: calc(80% - 4px);
    font-size: 1.5em;
    float: left;
}

button.tdAdd {
    border-radius: 0;
    padding: 0;
    width: calc(20% - 2px);
    height: 42px;
    background-color: #09F;
    color: #FFF;
    font-size: 1em;
    cursor: -webkit-grab;
}

button.tdAdd:hover {
  background-color: #0bF;
}

ul#tdList {
    list-style: none;
    font-size: 1.5em;
    padding: 1%;
}
